<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="group project for CITS5505">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>MovieFun Forum/MOVIE/Ghostbusters: Frozen Empire</title>
    <!-- This is the movie2 page-->
    <!--This is the css file link-->
    <link rel="stylesheet" type="text/css" href="../static/css/page2-styles.css">
    <script src="https://kit.fontawesome.com/966d149ae8.js" crossorigin="anonymous"></script>

</head>

<body class="NewsSection" id="NewsSection">
    <nav id="container">
        <div id="logo" class="col-md-8">
            <img src="../static/jpg/logo.png" alt="ForumLogo" id="ForumLogo">
            <p id="headP"></p>
        </div>
        <div id="login" class="col-md-4">
            <ul>
                <li><a class="logLink" href="">Log In</a></li>
                <li><a class="logLink" href="">Register</a></li>
                <li><a class="logLink" href="">Search</a></li>
            </ul>
        </div>
    </nav>

    <header>
        <h1>Ghostbusters: Frozen Empire</h1>
    </header>

    <main class="content">
        <div class="media-container">
            <div class="movie-poster">
                <img src="../static/jpg/movie2.jpg" alt="Ghostbusters: Frozen Empire" width="400" height="550">
            </div>
            
            </div>
            </div>
        <div class="movie-description">
            <span style="font-size: 30px; font-weight: bold; color: rgb(204, 201, 201);" > "When the discovery of an ancient artifact unleashes an evil force, Ghostbusters new and old must join forces to protect their home and save the world from a second ice age."</span>
            <br>
            <br>
            <p style="font-size: 20px; font-weight: bold;">Director: Gil Kenan</p>
            <br>
            <p style="font-size: 20px; font-weight: bold;">Writers: Gil KenanJason ReitmanIvan Reitman</p>
            <br>
            <p style="font-size: 20px; font-weight: bold;">Stars: Paul RuddCarrie CoonFinn Wolfhard</p>
            <br>
            <br>
            <p style="font-size: 20px; font-weight: bold;">Movie Introduction</p>
            <p style="font-size: 18px;">
                Three years after Summerville, Callie Spengler, her family, and friends move to New York City to help reestablish the Ghostbusters. After capturing a ghost, they face shutdown threats from Mayor Walter Peck. Meanwhile, Ray and Podcast acquire a strange orb that unleashes a psionic pulse, threatening their ghost containment unit. The orb, built to imprison the demonic god Garraka, is revealed to have been safeguarded by Nadeem’s grandmother. Garraka escapes and freezes the city, seeking to unleash more ghosts. Phoebe, using a proton pack modified with copper alloys, and Nadeem, wielding his grandmother’s brass armor, manage to weaken Garraka. With help from the betrayed ghost Melody, the Ghostbusters trap Garraka, saving the city and securing their reinstatement. As New York thaws, they are hailed as heroes, continuing their adventures.</p>
            <button class="watchlist-button">+Add to Watchlist</button>

        </div>
    </main>
</body>
<footer>
    <div id="copyright">
        <p>
            Coypright © CITS5505 Group Project 2024
        </p>
    </div>
</footer>
<script src="../static/js/index-script.js"></script>
</body>
</html>