<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="group project for CITS5505">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>MovieFun Forum/MOVIE/Dune</title>
    <!-- This is the movie3 page-->
    <!--This is the css file link-->
    <link rel="stylesheet" type="text/css" href="../static/css/page2-styles.css">
    <script src="https://kit.fontawesome.com/966d149ae8.js" crossorigin="anonymous"></script>

</head>

<body class="NewsSection" id="NewsSection">
    <nav id="container">
        <div id="logo" class="col-md-8">
            <img src="../static/jpg/logo.png" alt="ForumLogo" id="ForumLogo">
            <p id="headP"></p>
        </div>
        <div id="login" class="col-md-4">
            <ul>
                <li><a class="logLink" href="">Log In</a></li>
                <li><a class="logLink" href="">Register</a></li>
                <li><a class="logLink" href="">Search</a></li>
            </ul>
        </div>
    </nav>

    <header>
        <h1>Dune</h1>
    </header>

    <main class="content">
        <div class="media-container">
            <div class="movie-poster">
                <img src="../static/jpg/movie9.jpg" alt="Dune" width="400" height="550">
            </div>
            
            </div>
            </div>
        <div class="movie-description">
            <span style="font-size: 30px; font-weight: bold; color: rgb(204, 201, 201);" > "Paul Atreides unites with Chani and the Fremen while seeking revenge against the conspirators who destroyed his family."</span>
            <br>
            <br>
            <p style="font-size: 20px; font-weight: bold;">Director: Denis Villeneuve</p>
            <br>
            <p style="font-size: 20px; font-weight: bold;">Writers: Denis VilleneuveJon SpaihtsFrank Herbert</p>
            <br>
            <p style="font-size: 20px; font-weight: bold;">Stars: Timothée ChalametZendayaRebecca Ferguson</p>
            <br>
            <br>
            <p style="font-size: 20px; font-weight: bold;">Movie Introduction</p>
            <p style="font-size: 18px;">After House Atreides is betrayed and destroyed by House Harkonnen, Paul Atreides and his mother, Lady Jessica, align with Stilgar's Fremen on Arrakis. Jessica becomes a Reverend Mother, and Paul embraces Fremen ways, earning the names Usul and Muad'Dib. He falls in love with Chani while disrupting Harkonnen spice operations. Paul's growing influence and prophetic visions worry him about a potential holy war. Reuniting with Gurney Halleck, they prepare for battle against the Harkonnens and the Emperor Shaddam IV, who arrives on Arrakis with his troops. In a climactic confrontation, Paul overthrows Shaddam, demanding marriage to his daughter Irulan to solidify his power, while foreseeing the tumultuous future his reign might ignite.</p>
            <button class="watchlist-button">+Add to Watchlist</button>

        </div>
    </main>
</body>
<footer>
    <div id="copyright">
        <p>
            Coypright © CITS5505 Group Project 2024
        </p>
    </div>
</footer>
<script src="../static/js/index-script.js"></script>
</body>
</html>